.dashboardTaskList {
    margin: 0 auto;
    width: 80%;
}

.dashboardTaskList h1 {
    text-align: center;
    margin: 24px 0;
}

.listTask-wrapper {
    margin: 0 auto;
    max-height: 400px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: scroll;
}

.listTask {
    cursor: pointer;
    max-width: 400px;
    background-color: #fff;
    border-radius: 15px;
    padding: 14px 8px 14px 14px;
    margin: 6px;
    animation-name: fade;
    animation-duration: 800ms;
}

.listTask-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listTask-texto h1 {
    color: black;
    margin: 5px 0;
}

.listTask-texto p {
    max-width: 340px;
    text-align: left;

}

@keyframes fade {
    0% {
        opacity: 0;
        scale: (0);
    }
    100% {
        opacity: 1;
        scale: (1);
    }
}

.delete-task {
    border: none;
    margin: 4px;  
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.delete-task button {
    margin: 4px;
}

.delete-task i {
    font-size: 20px;
    padding: 3px;
    border: none;  
    cursor: pointer; 
}

.delete-task i:hover {
    animation: flick 500ms;
}

@keyframes flick {
    0% {
        transform: rotatez(15deg);
    }
    25% {
        transform: rotatez(-15deg);
    }
    50% {
        transform: rotatez(15deg);
    }
    100% {
        transform: rotatez(0deg);
    }
}

.completed {
    background-color: #54B435;
}