.dashboardHeader {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboardHeader-area {
    padding: 18px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    color: white;
}

.dashboardHeader-user strong {
    font-weight: 500;
}

.dashboardHeader-area ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.dashboardHeader-area a {
    color: white;
}

.dashboardHeader-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboardHeader-user i{
    border-radius: 50px;
    border: 1px solid white;
    padding: 3px;
    margin-right: 5px;
}

.dashboardHeader-area li {
    margin: 0 10px;
}

.dashboardHeader-area a:hover {
    color: #0dc5c1;
}

.logout {
    font-size: 18px;
    cursor: pointer;
}
